{% extends 'base/base.html' %}
{% block title %}
    {% if object %}
        Update Recipe
    {% else %}
        Create Recipe
    {% endif %}
{% endblock %}

{% block media %}
{{ form.media }}
{% endblock %}

{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">
        {% if object %}
            Update Recipe
        {% else %}
            Create Recipe
        {% endif %}
    </h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <!-- {{ form.as_p }} -->

                    <div class="mb-3">
                        <label for="id_title" class="form-label"><strong>Title</strong></label>
                        {{ form.title|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                        <label for="id_recipe_image" class="form-label"><strong>Recipe Image</strong></label>
                        {{ form.recipe_image|add_class:"form-control" }}
                    </div>

                    <div class="mb-3">
                        <label for="id_category" class="form-label"><strong>Category</strong></label>
                        {{ form.category|add_class:"form-select" }}
                    </div>

                    <div class="mb-3">
                        <label for="id_description" class=""><strong>Description</strong></label>
                        {{ form.description }}
                    </div>

                    <div class="mb-3">
                        <label for="id_ingredients" class="form-label"><strong>Ingredients</strong></label>
                        {{ form.ingredients }}
                    </div>

                    <div class="mb-3">
                        <label for="id_instructions" class="form-label"><strong>Instructions</strong></label>
                        {{ form.instructions }}
                    </div>

                    <div class="mb-3">
                        <label for="id_tags" class="form-label"><strong>Tags</strong></label>
                        {{ form.tags|add_class:"form-control" }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Update Recipe
                            {% else %}
                                Create Recipe
                            {% endif %}
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
